@{
    ViewData["Title"] = "Produtos";
}

<div class="text-center">
    <h1 class="display- mb-3">Editar produto</h1>

    <div class="card">
        <div class="card-body">
            <div class="container">
                @using (Html.BeginForm("EditProduct", "Product", FormMethod.Post)) { 
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="productTitle">Nome</label>
                                <input type="text" class="form-control" id="productTitle" name="title" value="@ViewBag.product.title" placeholder="Dê um nome ao produto :)">
                                <input class="d-none" name="id" value="@ViewBag.product.id" />
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="exampleSelect1">Categoria</label>
                                <select class="form-control" id="exampleSelect1" name="categoryId">
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        @if (category.id != ViewBag.product.category.id)
                                        {
                                            <option value="@category.id">@category.title</option>
                                        }
                                        else
                                        {
                                            <option value="@category.id" selected>@category.title</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-info btn-block" value="Salvar">

                    </div>
                }
            </div>
        </div>
    </div>
</div>
